<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>impulse.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>395EB2AA95CB4A764EE3A8BCAB97CB89676F1F2B</string>
				<key>dateExpires</key>
				<string>7/10/25</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>395EB2AA95CB4A764EE3A8BCAB97CB89676F1F2B</string>
						<key>dateExpires</key>
						<string>7/10/25</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LMC3KCU7BZ</string>
						<key>name</key>
						<string>Pablo Granados</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>395EB2AA95CB4A764EE3A8BCAB97CB89676F1F2B</string>
						<key>dateExpires</key>
						<string>7/10/25</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>LMC3KCU7BZ.com.impulsecontrolapp.impulse.monitorExtension</string>
						<key>com.apple.developer.family-controls</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>LMC3KCU7BZ</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.impulsecontrolapp.impulse.share</string>
						</array>
						<key>get-task-allow</key>
						<true/>
					</dict>
					<key>name</key>
					<string>monitorExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>45ed258f-b12a-4a3d-bed3-c515c4c74e45</string>
						<key>dateExpires</key>
						<string>11/10/25</string>
						<key>name</key>
						<string>Monitorextension</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LMC3KCU7BZ</string>
						<key>name</key>
						<string>Pablo Granados</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>395EB2AA95CB4A764EE3A8BCAB97CB89676F1F2B</string>
						<key>dateExpires</key>
						<string>7/10/25</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>LMC3KCU7BZ.com.impulsecontrolapp.impulse.shieldAction</string>
						<key>com.apple.developer.family-controls</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>LMC3KCU7BZ</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.impulsecontrolapp.impulse.share</string>
						</array>
						<key>get-task-allow</key>
						<true/>
					</dict>
					<key>name</key>
					<string>shieldAction.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>2e8f8002-0018-4ade-92be-17739c5f5ac0</string>
						<key>dateExpires</key>
						<string>9/10/25</string>
						<key>name</key>
						<string>shieldAction Herson</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LMC3KCU7BZ</string>
						<key>name</key>
						<string>Pablo Granados</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>395EB2AA95CB4A764EE3A8BCAB97CB89676F1F2B</string>
						<key>dateExpires</key>
						<string>7/10/25</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>LMC3KCU7BZ.com.impulsecontrolapp.impulse.shieldConfigurator</string>
						<key>com.apple.developer.family-controls</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>LMC3KCU7BZ</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.impulsecontrolapp.impulse.share</string>
						</array>
						<key>get-task-allow</key>
						<true/>
					</dict>
					<key>name</key>
					<string>shieldConfigurator.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>fb1a02d5-e4b7-4fbc-8d50-087f7a77a7ae</string>
						<key>dateExpires</key>
						<string>9/10/25</string>
						<key>name</key>
						<string>Herson - shieldConfigurator</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LMC3KCU7BZ</string>
						<key>name</key>
						<string>Pablo Granados</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>LMC3KCU7BZ.com.impulsecontrolapp.impulse</string>
				<key>com.apple.developer.family-controls</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>LMC3KCU7BZ</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.impulsecontrolapp.impulse.share</string>
				</array>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>impulse.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>22f8efe8-0d75-417f-9083-73de97ff5749</string>
				<key>dateExpires</key>
				<string>9/10/25</string>
				<key>name</key>
				<string>Herson</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>LMC3KCU7BZ</string>
				<key>name</key>
				<string>Pablo Granados</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
