<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://github.com/roely16/impulse/tree/main/assets/impulse.ipa</string>
		<key>displayImageURL</key>
		<string>https://github.com/roely16/impulse/tree/main/assets/impulse.ipa</string>
		<key>fullSizeImageURL</key>
		<string>https://github.com/roely16/impulse/tree/main/assets/impulse.ipa</string>
	</dict>
	<key>method</key>
	<string>development</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.impulsecontrolapp.impulse</key>
		<string>Herson</string>
		<key>com.impulsecontrolapp.impulse.monitorExtension</key>
		<string>Monitorextension</string>
		<key>com.impulsecontrolapp.impulse.shieldAction</key>
		<string>shieldAction Herson</string>
		<key>com.impulsecontrolapp.impulse.shieldConfigurator</key>
		<string>Herson - shieldConfigurator</string>
	</dict>
	<key>signingCertificate</key>
	<string>395EB2AA95CB4A764EE3A8BCAB97CB89676F1F2B</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>LMC3KCU7BZ</string>
	<key>thinning</key>
	<string>iPhone13,4</string>
</dict>
</plist>
